<div class="catalogue-item">
    <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
    <a href="{{ .Permalink }}">
    <h1 class="catalogue-title">{{ .Title }}</h1>
    </a>
    <div class="catalogue-line"></div>

    <p>
        <ul>
        {{ range findRE "<h1.*?>(.|\n)*?</h1>" .Content }}
        <li> {{ replaceRE "<[^>]*>" "" . | htmlUnescape }} </li>
        {{ end }}
        </ul>
    </p>

    {{ if .Param "tags" }}
    <p>
        tags: 
        {{ range .Param "tags" }} 
            {{ $name := . }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                <a href="{{ .Permalink }}"> {{ $name }} </a>
            {{ end }}
        {{ end }}
    </p>
    {{ end }}
</div>
